header{
   -webkit-print-color-adjust: exact;
   height: 200px;
   background-color: #D1D1D1;   
   background-image: none;
}

.specialHeader{
   height: 300px
}

body {
   -webkit-print-color-adjust: exact;   
   margin: 0;
   padding: 0;  
   color: #000; 
}


h1{
   margin-top: -20px;
   color: #000;
   background: none;
}

img {
   max-width: 100% !important;
}

section li:hover:after{ 
   background-color: none; 
}

a{
   font-weight: bolder;
   text-decoration: none;
}

a[href^=http]:after {
   content:" <" attr(href) "> ";
}

a[href^="#"]:after {
   content: "";
}

a[href^="/"]:after {
   content: "";
}

.searchRes{
   position: absolute;
   left: 70px;
   top: -15px;
   width: 75%;
}

.titleImage{
   display: none !important;
}

.titlePrint{
   display: block !important;
}

.detailAhref{
   color: white;
}

.printIn{
   display: block;
}


/* OUT */
.printOut, .searchContainer, footer{
   display: none;
}







 

