@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
body {
    background-color: #EBEBEB;
	font-family: 'Roboto Slab', sans-serif;
}

header{
	border-top: 5px solid #999999;
	border-bottom: 5px solid #999999;
	background-color: #D1D1D1;
	margin:auto;
}

footer{
	border-top: 5px solid #999999;
	background-color: #D1D1D1;
}

li{
	list-style-type:none;
}

#advset{
	font-size: 10px;
}

#Logo{
	background-color: #999999;
}

#txtfoot{
	margin-top: 0px;
	margin-left: 10px;
}

.topMenu{
	padding-left: 20px;
}
